.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: white;
  padding: 16px;
  font-size: 16px;
  border: 2px solid black;    
  cursor: pointer;
  white-space: nowrap;
  border-radius: 5px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #e7e7e7;
}

.dropdown-content {
  display: none;             
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  left: 0;
  top: 100%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block !important; 
}