.control-board{
  margin: 0 auto;
  margin-top: 25px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  padding: 15px 7%;
  border-radius: 20px;
  border: 3px solid rgb(0, 0, 0);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.btn {
  background-color: rgb(255, 255, 255);
  padding: 16px;
  font-size: 19px;
  border: 3px solid rgb(0, 0, 0);    
  border-radius: 25px;
  cursor: pointer;
  white-space: nowrap;
}
.btn:hover, .btn:focus {
  background-color: #e7e7e7;
}

.dropdown-content {
  display: none;             
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  left: 0;
  top: 100%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  border: 3px solid #f1f1f1;
  display: block;
}

.dropdown-content a:hover {
  border: 3px solid black;
  background-color: #ddd;
}

.show {
  display: block !important; 
}