.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    padding: 15px 7%;
}
.logo {
  width: 80px;
  height: 80px;
  cursor: pointer;
  object-fit: contain; /* чтобы не обрезалось */
}
a{
    text-decoration: none;
}