.canvas-wrapper {
  display: flex;
  justify-content: center;  /* центр по горизонтали */
  align-items: center;      /* центр по вертикали */
  flex-grow: 1;
  background-color: #f5f5f5; /* (по желанию) фон */
}
.stage{
  border: 3px solid #c7c7c7;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}
html, body {
  overflow-x: hidden;
  overflow-y: auto;
}