*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.container{
    width: 100vw;
    min-height: 100vh;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
}
.container .nav-link{
    display: flex;
}
.container .nav-link li{
    list-style: none;
    margin: 0 0.5rem;
}
.container ul li a{
    color: #3d3d3d;
    border: 3px solid #3d3d3d;
    font-size: 19px;
    padding: 0.7rem 1rem;
    display: block;
    border-radius: 25px;
}
.container ul li a:hover{
    background-color: #e7e7e7;
}
.container h1{
    color: #3d3d3d;
}