*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 100vw;
    min-height: 100vh;
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
}
.container .nav-link{
    display: flex;
}
.container .nav-link li{
    list-style: none;
    margin: 0 0.5rem;
}
.container ul li a{
    color: #212a3c;
    font-size: 1.3rem;
    padding: 0.7rem 1rem;
    display: block;
    border-radius: 10px;
    border-radius: 4px;
}
.container ul li a:hover{
    background-color: #e7e7e7;
}
.container h1{
    color: #323c52;
}